*.go linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.python linguist-detectable=false
*.r linguist-detectable=false
*.julia linguist-detectable=false
*.ipynb linguist-detectable=false
